<%= form_for(:login, :html => {:id => 'login_form', :class => 'form-horizontal'}) do |f| %>
    <p class="controls"><strong>Welcome to TPS-QA Application</strong></p>
    <br/><br/>
    <%= render 'shared/flash' %>
    <div class="control-group">
      <%= f.label :username, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :username, :placeholder => 'Username' %>
      </div>

    </div>

    <div class="control-group">
      <%= f.label :password, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :password, :placeholder => 'Password', :type => 'password' %>
      </div>
    </div>
    <div class="actions controls">
      <%= button_tag 'OK',
                     #:type => 'button',
                     :id => 'btnOK',
                     :class => 'btn btn-primary',
                     :onclick => 'CheckLogin()'

      %>
      <%= button_tag 'Cancel',
                     :type => 'button',
                     :id => 'btnCancel',
                     :class => 'btn btn-primary',
                     :onclick => 'CancelLogin()'
      %>
    </div>

<% end %>
